{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Create Task</title>
{% endblock meta %}

{% block content %}

<link href="{% static 'forms.css' %}" rel="stylesheet">

{% if user.is_authenticated %} 

    <body class="text-center">
        <form class="form-signin w-100 m-auto" method="POST">

            {% csrf_token %}
            <h1 class="h3 mb-4 fw-normal">Create a Task</h1>

            <div class="form-floating">
                <input type="text" name="title" placeholder="title" class="form-control">
                <label for="floatingInput">Title</label>
            </div>

            <div class="form-floating">
                <input type="description" name="description" placeholder="Description" class="form-control">
                <label for="floatingDescription">Description</label>
            </div>

            <input class="w-100 btn btn-lg btn-primary mt-5" type="submit" value="Post"></td>
        </form>
    </body>

    {% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}     

{% else %}

    You are not logged in.

{% endif %}

{% endblock %}