{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
   
<link href="{% static 'forms.css' %}" rel="stylesheet">

<body class="text-center">

    <form class="form-signin w-100 m-auto" method="POST" action="">

        {% csrf_token %}
        <h1 class="h3 mb-4 fw-normal">Please log in</h1>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger">
                        <strong>{{ message|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}

        <div class="form-floating">
            <input type="text" name="username" placeholder="Username" class="form-control">
            <label for="floatingInput">Username</label>
        </div>

        <div class="form-floating">
            <input type="password" name="password" placeholder="Password" class="form-control">
            <label for="floatingPassword">Password</label>
        </div>

        <div class="mb-3">
            <label>
                Belum mempunyai akun? <a href="{% url 'todolist:register' %}">Buat Akun</a>
            </label>
        </div>

        <input class="w-100 btn btn-lg btn-primary" type="submit" value="Login"></td>

        <p class="mt-5 mb-3 text-muted">&copy; PBP 2022</p>

    </form>
</body>
<!-- 
<div class = "login text-center">

    <h1>Login</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td>Username: </td>
                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
                    
            <tr>
                <td>Password: </td>
                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>

            <tr>
                <td></td>
                <td><input class="btn login_btn" type="submit" value="Login"></td>
            </tr>
        </table>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
        
    Belum mempunyai akun? <a href="{% url 'todolist:register' %}">Buat Akun</a>

</div> -->

{% endblock content %}