{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %}

{% block content %}

<link href="{% static 'forms.css' %}" rel="stylesheet">

<body class="text-center"> 

    <form class="form-register w-100 m-auto" method="POST">

        {% csrf_token %}
        <h1>Formulir Registrasi</h1>

        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %} 
                <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div class="form-floating my-3">
            <input type="text" name="username" placeholder="Username" class="form-control">
            <label for="floatingInput">Username</label>
            <small class='text-muted'>{{ form.username.help_text }}</small>
        </div>

        <div class="form-floating">
            <input type="password" name="password1" placeholder="Password" class="form-control">
            <label for="floatingInput">Password</label>
            <small class='text-muted'>{{ form.password1.help_text }}</small>
        </div>

        <div class="form-floating mb-3">
            <input type="password" name="password2" placeholder="Password" class="form-control">
            <label for="floatingInput">Re-Enter Password</label>
        </div>

        <div class="mb-3">
            <label>
                Sudah mempunyai akun? <a href="{% url 'todolist:login' %}">Log in</a>
            </label>
        </div>

        <input class="w-100 btn btn-lg btn-primary" type="submit" value="Register"></td>

        <p class="mt-5 mb-3 text-muted">&copy; PBP 2022</p>        

    </form>

</body>  

{% endblock content %}