{% extends 'base.html' %}
{% load static %}

{% block content %}

<link href="{% static 'todolist.css' %}" rel="stylesheet">

<header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <strong>📚 {{nama}}'s To-do List</strong>
        </a>
        <span class="navbar-text  ms-auto mx-4">Last login: {{ last_login }}</span>
        <a class="btn btn-outline-danger" href="{% url 'todolist:logout' %}">Logout</a>
      </div>
    </div>
</header>
  
<main>  
    <div class="album py-5 bg-light">
      <div class="container">

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal1">
          Create a Task
        </button>

        <!-- Modal -->
        <div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="modal1Label" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="modal1Label">Create Task</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form id="form" class="form-signin w-100 m-auto" method="POST">

                  {% csrf_token %}

                  <div class="form-floating mb-2">
                      <input type="text" name="title" placeholder="Title" class="form-control">
                      <label for="floatingInput">Title</label>
                  </div>

                  <div class="form-floating">
                      <textarea type="description" name="description" placeholder="Description" class="form-control" rows="3"></textarea>
                      <label for="floatingDescription">Description</label>
                  </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button id="button" type="button" class="btn btn-primary" type="submit" data-bs-dismiss="modal" value="Post">Post</button>
              </div>
              </form>
              </div>

            </div>
          </div>
        </div>

        <div id="tasks" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mt-3"></div>
    
      </div>
</main>

<script>
  async function getTodolist() {
    return fetch("{% url 'todolist:show_json' %}").then((result) => result.json())
  }

  async function refreshTodolist(){
    document.getElementById("tasks").innerHTML = ""
    const todolist = await getTodolist()
    let htmlstring = ``
    todolist.forEach((task) => {
      htmlstring +=
      `
      <div class="col">
            <div class="card shadow-sm">
              <div class="card-body">
                <small class="text-muted">${task.fields.date}</small>
                <div class="d-flex justify-content-between align-items-center">
                    <h3 class="card-text mb-3">${task.fields.title}</h3>
      `
      if (task.fields.is_finished) {
        htmlstring += `                        <h3 class="text-success">✅</h3>`
      }
      htmlstring += `
                </div>
                <p class="card-text">${task.fields.description}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
      `
      if (task.fields.is_finished) {
        htmlstring +=`
          <a onclick=changeStatus(${task.pk}) class="btn btn-sm btn-outline-secondary">Undo Task</a>
        `
      }
      else {
        htmlstring += `
          <a onclick=changeStatus(${task.pk}) class="btn btn-sm btn-outline-success">Mark Done</a>
        `
      }
      htmlstring += `
                    <a class="btn btn-sm btn-outline-danger" onclick=deleteTodolist(${task.pk})>Delete</a>   
                  </div>
                </div>
              </div>
            </div>
          </div>
      `
    })
    document.getElementById("tasks").innerHTML = htmlstring
  }

  function addTodolist() {
    fetch("{% url 'todolist:add_task' %}", {
          method: "POST",
          body: new FormData(document.querySelector('#form'))
      }).then(refreshTodolist)
      document.getElementById("form").reset()
    return false
  }

  function changeStatus(id) {
    fetch("{{ request.path }}change-status/"+id).then(refreshTodolist)
    return false
  }

  function deleteTodolist(id) {
    fetch("{{ request.path }}hapus/"+id).then(refreshTodolist)
    return false
  }

  document.getElementById("button").onclick = addTodolist

  refreshTodolist()
</script>

{% endblock content %}