{% extends 'base.html' %}
{% load static %}

{% block content %}

<link href="{% static 'todolist.css' %}" rel="stylesheet">

<header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <strong>📚 {{nama}}'s To-do List</strong>
        </a>
        <span class="navbar-text  ms-auto mx-4">Last login: {{ last_login }}</span>
        <a class="btn btn-outline-danger" href="{% url 'todolist:logout' %}">Logout</a>
      </div>
    </div>
</header>
  
<main>  
    <div class="album py-5 bg-light">
      <div class="container">

        <form class="row g-3 align-items-center mb-4" id="form" onsubmit="return false;">
          {% csrf_token %}

          <div class="col-auto">
            <label class="fs-4">Create a Task: </label>
        </div>

          <div class="col-auto">
              <input type="text" name="title" placeholder="Title" class="form-control">
          </div>

          <div class="col-sm-7">
            <input type="description" name="description" placeholder="Description" class="form-control">
          </div>
        
          <input id="button" class="col btn btn-primary" type="submit" value="Create"></td>
          
        </form>

        <div id="tasks" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"></div>
    
      </div>
</main>

<script>
  async function getTodolist() {
    return fetch("{% url 'todolist:show_json' %}").then((result) => result.json())
  }

  async function refreshTodolist(){
    document.getElementById("tasks").innerHTML = ""
    const todolist = await getTodolist()
    let htmlstring = ``
    todolist.forEach((task) => {
      htmlstring +=
      `
      <div class="col">
            <div class="card shadow-sm">
              <div class="card-body">
                <small class="text-muted">${task.fields.date}</small>
                <div class="d-flex justify-content-between align-items-center">
                    <h3 class="card-text mb-3">${task.fields.title}</h3>
      `
      if (task.fields.is_finished) {
        htmlstring += `                        <h3 class="text-success">✅</h3>`
      }
      htmlstring += `
                </div>
                <p class="card-text">${task.fields.description}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
      `
      if (task.fields.is_finished) {
        htmlstring +=`
          <a onclick=changeStatus(${task.pk}) class="btn btn-sm btn-outline-secondary">Undo Task</a>
        `
      }
      else {
        htmlstring += `
          <a onclick=changeStatus(${task.pk}) class="btn btn-sm btn-outline-success">Mark Done</a>
        `
      }
      htmlstring += `
                    <a class="btn btn-sm btn-outline-danger" onclick=deleteTodolist(${task.pk})>Delete</a>   
                  </div>
                </div>
              </div>
            </div>
          </div>
      `
    })
    document.getElementById("tasks").innerHTML = htmlstring
  }

  function addTodolist() {
    fetch("{% url 'todolist:add_task' %}", {
          method: "POST",
          body: new FormData(document.querySelector('#form'))
      }).then(refreshTodolist)
    return false
  }

  function changeStatus(id) {
    fetch("{{ request.path }}change-status/"+id).then(refreshTodolist)
    return false
  }

  function deleteTodolist(id) {
    fetch("{{ request.path }}hapus/"+id).then(refreshTodolist)
    return false
  }

  document.getElementById("button").onclick = addTodolist

  refreshTodolist()
</script>

{% endblock content %}